@import url('https://fonts.googleapis.com/css?family=Roboto');
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: #b1b9c1;
	background-color: #222;
	font-size: 1em;
	font-weight: 200;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	width: 100%;
}

img {
	max-width: 100%;
}

ul, ol, li {
	padding-left: 0;
}

/* Search */

.search-wrap {
	/*margin-top: 35px;*/
	margin-bottom: 25px;
	text-align: center;
	width: 100%;
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 1px solid #151515;
}

input[type="text"] {
	background-color: #323232;/*#eee;*/
	color: #b1b9c1;
	outline: none;
	border: 1px solid #222;
	border-radius: 8px;
	padding: 10px;
	width: 80%;
	transition: background-color 1s, border 1s;
}


input[type="text"]:focus {
	background-color: #151515;
}

/* Gallery */

.thumb-wrap {
	text-align: center;
	margin-bottom: 50px;
}

.thumb-div {
	background-color: #191919;
	width: 80%;
	max-width: 80%;
	max-width: 400px;
	margin: 10px auto;
	border-radius: 8px;
}


.image {
	margin-bottom: 10%;
	margin-top: 10%;
	height: 80%;
	width: 80%;
	box-shadow: 2px 2px 5px #151515;
	border: 10px solid #191919;
	border-radius: 8px;
	transition: border-color 0.5s, filter 1s, box-shadow 1s;
}


.image:hover {
	border-color: #222;
	filter: brightness(1.2);
}

/* Media Queries */ 

@media (min-width: 768px) {

	input[type="text"] {
		width: 50%;
		font-size: .8em;
	}

	.thumb-wrap {
		width: 90%;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
	}

	.thumb-div {
		width: 47%;
	}
}


@media (min-width: 1024px) {

	input[type="text"] {
		width: 33%;
	}

	.thumb-wrap {
		width: 80%;
		max-width: 1150px;
	}

	.thumb-div {
		width: 23%;
		
	}
	

}

/***** Lightcase CSS *****/

